name: Generate ASCII workflow 
on: push

jobs:
    build_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: List all the file
              run: ls -lrt 

            - name: Create a Dragon
              run: |
                chmod +x ascii-script.sh
                ./ascii-script.sh
            
            - uses: actions/upload-artifact@v4
              with:
                name: my-artifact
                path: dragon.txt    

    ascii_job:
      needs: build_job
      runs-on: ubuntu-latest
      steps:

          - uses: actions/download-artifact@v4
            with:
              name: my-artifact

          - name: check dragon
            run: |
              ls 
              grep -i 'drgon' dragon.txt
