name: Generate ASCII workflow 
on: push

jobs:
    build_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: List all the file
              run: ls -lrt 

            - name: Create a Dragon
              run: |
                chmod +x ascii-script.sh
                ./ascii-script.sh
    ascii_job:
      needs: build_job
      runs-on: ubuntu-latest
      steps:
          - name: check dragon
            run: grep -i 'drgon' dragon.txt
