name: Generate ASCII workflow 
on: push

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Create a Dragon
              run: ./ascii-script.sh
