name: Generate ASCII workflow 
on: workflow_dispatch

jobs:
    build_job:
        strategy:
          matrix:
            os: [ubuntu-latest]
            demo_value: [values1, value2]

        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: List all the file
              run: ls -lrt 

            - name: Create a Dragon
              run: |
                chmod +x ascii-script.sh
                ./ascii-script.sh
            
            - uses: actions/upload-artifact@v4
              with:
                name: os-build-${{ matrix.demo_value }}
                path: dragon.txt
            
            - name: Reading secrets
              run: |
                echo "${{ secrets.GITHUB_TOKEN }}"
                echo "${{ vars.REPOSITORY_VARIABLE }}"
                echo "${{ secrets.REPO_SECRET }}"
                echo "${{ matrix.demo_value }}"
                  

    ascii_job:
      concurrency: 
        group: production-job
        cancel-in-progress: false
      needs: build_job
      runs-on: ubuntu-latest
      steps:

          - uses: actions/download-artifact@v4
            with:
              name: os-build-${{ matrix.demo_value }}

          - name: check dragon
            run: |
              ls 
              grep -i 'dragon' dragon.txt

    deploy_job:
      needs: ascii_job
      runs-on: ubuntu-latest
      steps:
          - uses: actions/download-artifact@v4
            with:
              name: os-build-${{ matrix.demo_value }}

          - name: display dragon
            run: cat dragon.txt    

